.mainContent {
  margin-left: 240px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

.title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 18px;
}

.addButton {
  background: #00D1B2;
  color: #081B33;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 18px;
  transition: background 0.2s;
}
.addButton:hover {
  background: #00b89c;
}

.card {
  background: #0E2A4C;
  border-radius: 16px;
  padding: 24px 24px 16px 24px;
  width: 100%;
  max-width: 86vw;
  color: #fff;
  box-shadow: 0 px 24px 0 rgba(0,0,0,0.10);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tableTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.tableMetas {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
  table-layout: fixed;
}

.tableMetas th, .tableMetas td {
  padding: 12px 12px;
  text-align: left;
  font-size: 1rem;
  border-bottom: 1.5px solid #223B5A;
}

.tableMetas thead th {
  border-bottom: 2px solid #223B5A;
}

.tableMetas tbody tr:last-child td {
  border-bottom: none;
}

.tableMetas th {
  color: #A5B3C7;
  font-weight: 600;
  background: none;
}

.tableMetas tbody tr {
  background: none;
}

.actionBtn {
    position: relative;
    background: none;
    color: #00D1B2;
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 0.97rem;
    font-weight: 500;
    /* margin-right: 6px; */
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    right: 10px;
}

.actionBtn:last-child {
  margin-right: 0;
}

.actionBtn:hover {
  background: #223B5A;
  color: #fff;
}

.modalTitle {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.formMeta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.labelMeta {
  color: #A5B3C7;
  font-size: 14px;
  font-weight: 500;
}

.inputMeta {
  background: #061426;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  color: #A5B3C7;
  font-size: 16px;
  margin-bottom: 4px;
}

.inputMeta::placeholder {
  color: #5C6A7C;
  opacity: 1;
}

.buttonMeta {
  background: #00D1B2;
  color: #081B33;
  border: none;
  border-radius: 8px;
  padding: 16px 0;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 12px;
  width: 100px;
  cursor: pointer;
  transition: background 0.2s;
}

.buttonMeta:hover {
  background: #00b89c;
}

.progressBar {
  width: 120px;
  background: #223B5A;
  border-radius: 8px;
  height: 10px;
  overflow: hidden;
  margin-bottom: 4px;
  position: relative;
}

.progressFill {
  background: #00D1B2;
  height: 100%;
  transition: width 0.4s cubic-bezier(0.4,0,0.2,1);
}

.progressText {
  color: #00D1B2;
  font-size: 13px;
  margin-left: 2px;
  font-weight: 500;
  display: inline-block;
} 